extends ./base/layout.pug

block content
    h3 ImreC&nbsp;- #[b Im]age&nbsp;#[b re]sizer in&nbsp;(Amazon)&nbsp;#[b C]loud v2
    p.
        Hello from #{ip}#[br]
        Supported&nbsp;image&nbsp;types: .png,&nbsp;.jpg,&nbsp;.bmp#[br]
        Supported&nbsp;scale&nbsp;range: from&nbsp;1%&nbsp;to&nbsp;200%

    h3 Storage
    p
        span Images are grouped in groups called #[b Storage].#[br]
        span Use your #[u private] unique URL of storage or ...#[br]#[br]
        a(href="/s/new" class="btn btn-default" id="new-storage-b") click here to get #[b NEW Storage]

    if actionError
        h3 Action error
        p.action-error.
            Something goes wrong. Sorry! Please try again later.
