extends layout.pug

block content
    h3 ImreC&nbsp;v2&nbsp;- #[b Im]age&nbsp;#[b re]sizer in&nbsp;(Amazon)&nbsp;#[b C]loud
    p.
        Hello&nbsp;from #{selfIp}#[br]
        It&nbsp;is&nbsp;&nbsp;a#[b second]&nbsp;version&nbsp;of&nbsp;#[b ImreC].&nbsp;#[b Now]#[br]
        batch&nbsp;processing&nbsp;is&nbsp;supported.&nbsp;#[b Try]#[br]
        schedule&nbsp;a&nbsp;task&nbsp;for&nbsp;100&nbsp;images&nbsp;at&nbsp;once!

    if actionError
        h3.action-error Action error
        p.action-error.
            Something goes wrong. Sorry! Please try again later.

    if noSuchStorage
        h3.action-error No such storage
        p.action-error.
            Such storage doesn't exist.#[br]
            Maybe it was deleted due to be very old.

    h3 Storage
    p
        span Images&nbsp;are&nbsp;grouped&nbsp;in #[u private]&nbsp;groups&nbsp;called&nbsp;#[b Storage].#[br]
        span Use&nbsp;your,&nbsp;previously&nbsp;created, unique&nbsp;Storage&nbsp;URL&nbsp;or&nbsp;...#[br]#[br]
        a(href="/s/new" class="btn btn-primary" id="new-storage-b") get&nbsp;#[b NEW&nbsp;Storage]
