extends ./base/layout.pug

block content
    h3 ImreC&nbsp;- #[b Im]age&nbsp;#[b re]sizer in&nbsp;(Amazon)&nbsp;#[b C]loud v2

    p.
        Hello from #{ip}#[br]
        Supported&nbsp;image&nbsp;types: .png,&nbsp;.jpg,&nbsp;.bmp#[br]
        Supported&nbsp;scale&nbsp;range: from&nbsp;1%&nbsp;to&nbsp;200%

    p
        span Images are grouped in groups called #[b Storage].#[br]
        a(href="/s/new") Click here to get #[b new Storage].#[br]
        span To use existing one just visit #[b Storage]&#039; unique URL.
