extends layout.pug

block script
    script(src="/js/schedule.js")
    script(src="/js/commission.js")
    script(src="/js/fileMeta.js")
    script(src="/js/fileTable.js")
    script(src="/js/s3form.js")

block content
    div(id="not-yet" class="busy-holder")
        div(class="loader busy")

    h3
        span Storage&nbsp;
        span=id

    if isTask
        p Refresh (#[b F5]) to obtain newest task state.
    unless isTask
        p Welcome in storage!

    include storage/headTable.pug

    h4
        span="Files "
        a(href="#" id="files-show-hide")="(show/hide)"

    unless isTask
        include storage/uploadForm.pug
    include storage/fileTable.pug

    include storage/taskNew.pug
    include storage/taskArea.pug

    p(class="padding-top")
        a(href="#" class="reload") Refresh (#[b F5]).#[br]
        a(href="/") Go back.

    div(class="padding-bottom-end")
