.action-error {
    color: #880000;
    font-weight: bold;
}

/* ********************************************************************* */

.middle {
    vertical-align: middle !important;
}

.breakable {
    word-wrap: break-word;
    word-break: break-all;
}

.padding-top {
    padding-top: 1em;
}

/* ********************************************************************* */

.progress {
    position: relative;
    height: 20px;
    background: #C7DA9F;
    border-radius: 1px;
}

.bar {
    height: 20px;
    background: #85C220;
    text-align: center;
    color: #FFFFFF;
    font-size: 0.95em;
    font-family: "Arial Black", Gadget, sans-serif;
}

.bar.red {
    background: tomato;
}

/* ********************************************************************* */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
}
