h3="Task(s)"
p.
    The only available task is rescaling.#[br]
    Supported&nbsp;image&nbsp;types: .png,&nbsp;.jpg,&nbsp;.bmp#[br]
    Supported&nbsp;scale&nbsp;range: from&nbsp;1%&nbsp;to&nbsp;200%

form(class="form-horizontal padding-top")
    div(class="form-group")
        span(class="col-md-3 control-label") Selected images
        div(class="col-md-3")
            textarea(id="selected-area" class="form-control" readonly="readonly" rows="4") None

    div(class="form-group")
        label(for="scale-info" class="col-md-3 control-label") Requested scale (%)
        div(class="col-md-3")
            input(type="text" id="scale-info" name="scale-info" class="slider form-control"
            data-slider-min="1" data-slider-max="200" data-slider-step="1" data-slider-value="75")

    div(class="form-group")
        div(class="col-md-offset-3 col-md-3")
            input(type="button" name="submit" value="Schedule a task" class="form-control" d
            id="schedule-button" disabled="disabled")

table(id="scheduled-t" class="table table-striped padding-top")
    tr(class="hidden")
        td(class="col-xs-2 middle")
            span="scale=70%; files=4"
        td(class="col-xs-8 middle")
            a(class="scheduled-a" href="http://google.pl" target="_blank") http://google.pl
