table(id="file-table" class="table table-striped padding-top")
    thead
        tr
            th(class="col-xs-1 middle")
                input(type="checkbox" id="files-check-all")
            th(class="col-xs-1 middle") Collector
            th(class="col-xs-1 middle") Worker
            th(class="col-xs-8 middle") URL

    tbody(id="file-list")
        tr(class="hidden file-item")
            td
                input(type="checkbox" name="files" class="files-check" value="")
            td
                span="(loading)"
            td
                span="(loading)"
            td
                a(href="")=""
