h4(id="scheduled-h" class="hidden") Scheduled
table(id="scheduled-t" class="table table-striped padding-top")
    tr(class="hidden")
        td(class="col-xs-2 middle")
            span="scale=70%; files=4"
        td(class="col-xs-8 middle")
            a(class="scheduled-a" href="http://google.pl" target="_blank") http://google.pl
