.action-error {
    color: #880000;
    font-weight: bold;
}

/* ********************************************************************* */

.hidden {
    display: none !important;
}

.middle {
    vertical-align: middle !important;
}

.breakable {
    word-wrap: break-word;
    word-break: break-all;
}

.padding-top {
    padding-top: 1.3em;
}

.padding-bottom-end {
    padding-bottom: 5em;
}

/* ********************************************************************* */

.slider {
    width: 100% !important;
}

#scale-images {
    background-color: gainsboro;
    min-width: 100%;
    min-height: 7em;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: gainsboro;
}

::-webkit-scrollbar-thumb {
    background: #807F74;
    -webkit-border-radius: 1px;
}

::-webkit-scrollbar-corner {
    background: gainsboro;
}

/* ********************************************************************* */

.progress {
    position: relative;
    height: 20px;
    background: #C7DA9F;
    border-radius: 1px;
}

.bar {
    height: 20px;
    background: #85C220;
    text-align: center;
    color: #FFFFFF;
    font-size: 0.95em;
    font-family: "Arial Black", Gadget, sans-serif;
}

.bar.red {
    background: tomato;
}

/* ********************************************************************* */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
}

/* ********************************************************************* */

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;

    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.busy-holder {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100%;
    width: 100%;
    background: #333;
    opacity: 0.4;
}

.busy {
    position: fixed;
    top: 35%;
    left: calc(50% - 75px);
    z-index: 1000;
    height: 150px;
    width: 150px;
}

/* ********************************************************************* */

.scheduled {
    display: block;
    padding: 10px;
    margin: 0 0 10px;
    line-height: 1.4;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.25em;
    font-weight: bold;
}

.scheduled :first-child {
    color: darkblue;
}
